@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wnxrqb');
  src:  url('fonts/icomoon.eot?wnxrqb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wnxrqb') format('truetype'),
    url('fonts/icomoon.woff?wnxrqb') format('woff'),
    url('fonts/icomoon.svg?wnxrqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icono-fil:before {
  content: "\e900";
}
.icon-gift-regalo:before {
  content: "\e90a";
}
.icon-lupa-personal:before {
  content: "\e90b";
}
.icon-cubi-logo .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-cubi-logo .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 234, 255);
}
.icon-cubi-logo .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 234, 255);
}
.icon-cubi-logo .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 234, 255);
}
.icon-cubi-logo .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cubi-logo .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cubi-logo .path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cubi-logo .path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cubi-logo .path9:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arrow-low-mia:before {
  content: "\e903";
}
.icon-arrow-right-mia:before {
  content: "\e904";
}
.icon-arrow-up-mia:before {
  content: "\e905";
}
.icon-dolar:before {
  content: "\e906";
}
.icon-facebookmio:before {
  content: "\e907";
}
.icon-instagrammio:before {
  content: "\e908";
}
.icon-logo-id:before {
  content: "\e909";
}
.icon-twittermio:before {
  content: "\e90c";
}
.icon-ubicacion:before {
  content: "\e90d";
}
.icon-arrow-left1:before {
  content: "\e936";
}
.icon-arrow-up1:before {
  content: "\e937";
}
.icon-arrow-down1:before {
  content: "\e938";
}
.icon-arrow-right1:before {
  content: "\e939";
}
.icon-reload:before {
  content: "\e93a";
}
.icon-refresh:before {
  content: "\e93b";
}
.icon-volume:before {
  content: "\e93c";
}
.icon-volume-increase1:before {
  content: "\e93d";
}
.icon-volume-decrease1:before {
  content: "\e93e";
}
.icon-mute:before {
  content: "\e93f";
}
.icon-star:before {
  content: "\e959";
}
.icon-printer1:before {
  content: "\e95b";
}
.icon-share1:before {
  content: "\e969";
}
.icon-tablet1:before {
  content: "\e96e";
}
.icon-tablet-landscape:before {
  content: "\e96f";
}
.icon-camera1:before {
  content: "\e971";
}
.icon-diamond:before {
  content: "\e976";
}
.icon-sun1:before {
  content: "\e97a";
}
.icon-mapmarker:before {
  content: "\e980";
}
.icon-support:before {
  content: "\e982";
}
.icon-stopwatch1:before {
  content: "\e985";
}
.icon-bolt:before {
  content: "\e989";
}
.icon-pill:before {
  content: "\e98a";
}
.icon-pencil1:before {
  content: "\e997";
}
.icon-ac_unit:before {
  content: "\eb3b";
}
.icon-alarm1:before {
  content: "\e855";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-accessibility1:before {
  content: "\e84e";
}
.icon-accessible:before {
  content: "\e99a";
}
.icon-account_balance:before {
  content: "\e84f";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_alert:before {
  content: "\e003";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-queue:before {
  content: "\e03c";
}
.icon-add_to_queue:before {
  content: "\e05c";
}
.icon-adjust:before {
  content: "\e39e";
}
.icon-flight:before {
  content: "\e539";
}
.icon-airplanemode_inactive:before {
  content: "\e194";
}
.icon-alarm_off:before {
  content: "\e857";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-album:before {
  content: "\e019";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-archive1:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-aspect_ratio:before {
  content: "\e85b";
}
.icon-poll:before {
  content: "\e801";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-assignment_late:before {
  content: "\e85f";
}
.icon-assignment_return:before {
  content: "\e860";
}
.icon-assignment_returned:before {
  content: "\e861";
}
.icon-assignment_turned_in:before {
  content: "\e862";
}
.icon-assistant:before {
  content: "\e39f";
}
.icon-flag2:before {
  content: "\e153";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-attachment1:before {
  content: "\e2bc";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-av_timer:before {
  content: "\e01b";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-block:before {
  content: "\e14b";
}
.icon-bluetooth:before {
  content: "\e1a7";
}
.icon-blur_on:before {
  content: "\e3a5";
}
.icon-class:before {
  content: "\e86e";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-border_all:before {
  content: "\e228";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-branding_watermark:before {
  content: "\e06b";
}
.icon-brightness_1:before {
  content: "\e3a6";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_3:before {
  content: "\e3a8";
}
.icon-brightness_4:before {
  content: "\e3a9";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-brightness_medium:before {
  content: "\e1ae";
}
.icon-brightness_high:before {
  content: "\e1ac";
}
.icon-brightness_auto:before {
  content: "\e1ab";
}
.icon-broken_image:before {
  content: "\e3ad";
}
.icon-brush:before {
  content: "\e3ae";
}
.icon-bubble_chart:before {
  content: "\e6dd";
}
.icon-build:before {
  content: "\e869";
}
.icon-business_center:before {
  content: "\eb3f";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-cake:before {
  content: "\e7e9";
}
.icon-phone2:before {
  content: "\e0cd";
}
.icon-call_end:before {
  content: "\e0b1";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-merge_type:before {
  content: "\e252";
}
.icon-call_missed:before {
  content: "\e0b4";
}
.icon-call_missed_outgoing:before {
  content: "\e0e4";
}
.icon-call_received:before {
  content: "\e0b5";
}
.icon-call_split:before {
  content: "\e0b6";
}
.icon-call_to_action:before {
  content: "\e06c";
}
.icon-camera2:before {
  content: "\e3af";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-camera_enhance:before {
  content: "\e8fc";
}
.icon-camera_roll:before {
  content: "\e3b3";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-redeem:before {
  content: "\e8b1";
}
.icon-card_membership:before {
  content: "\e8f7";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-casino:before {
  content: "\eb40";
}
.icon-cast:before {
  content: "\e307";
}
.icon-cast_connected:before {
  content: "\e308";
}
.icon-center_focus_strong:before {
  content: "\e3b4";
}
.icon-center_focus_weak:before {
  content: "\e3b5";
}
.icon-change_history:before {
  content: "\e86b";
}
.icon-chat1:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-chrome_reader_mode:before {
  content: "\e86d";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-code:before {
  content: "\e86f";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-collections_bookmark:before {
  content: "\e431";
}
.icon-palette:before {
  content: "\e40a";
}
.icon-comment1:before {
  content: "\e0b9";
}
.icon-confirmation_number:before {
  content: "\e638";
}
.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-contacts:before {
  content: "\e0ba";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-copyright:before {
  content: "\e99d";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-crop2:before {
  content: "\e3be";
}
.icon-crop_16_9:before {
  content: "\e3bc";
}
.icon-crop_3_2:before {
  content: "\e3bd";
}
.icon-crop_landscape:before {
  content: "\e3c3";
}
.icon-crop_7_5:before {
  content: "\e3c0";
}
.icon-crop_din:before {
  content: "\e3c1";
}
.icon-crop_free:before {
  content: "\e3c2";
}
.icon-crop_original:before {
  content: "\e3c4";
}
.icon-crop_portrait:before {
  content: "\e3c5";
}
.icon-crop_rotate:before {
  content: "\e437";
}
.icon-crop_square:before {
  content: "\e3c6";
}
.icon-dashboard:before {
  content: "\e871";
}
.icon-data_usage:before {
  content: "\e1af";
}
.icon-date_range:before {
  content: "\e99e";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e99f";
}
.icon-delete_sweep:before {
  content: "\e16c";
}
.icon-description:before {
  content: "\e873";
}
.icon-details:before {
  content: "\e3c8";
}
.icon-developer_board:before {
  content: "\e30d";
}
.icon-dialpad:before {
  content: "\e0bc";
}
.icon-directions:before {
  content: "\e52e";
}
.icon-dns:before {
  content: "\e875";
}
.icon-not_interested:before {
  content: "\e033";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-donut_large:before {
  content: "\e9a0";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-enhanced_encryption:before {
  content: "\e63f";
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-euro_symbol:before {
  content: "\e9a2";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-exposure:before {
  content: "\e3ca";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-featured_play_list:before {
  content: "\e06d";
}
.icon-featured_video:before {
  content: "\e06e";
}
.icon-sms_failed:before {
  content: "\e626";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-fiber_new:before {
  content: "\e05e";
}
.icon-fiber_pin:before {
  content: "\e06a";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter_center_focus:before {
  content: "\e3dc";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-filter_tilt_shift:before {
  content: "\e3e2";
}
.icon-fingerprint:before {
  content: "\e9a4";
}
.icon-folder2:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-folder_special:before {
  content: "\e617";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-format_bold:before {
  content: "\e238";
}
.icon-format_clear:before {
  content: "\e239";
}
.icon-format_color_fill:before {
  content: "\e23a";
}
.icon-format_color_reset:before {
  content: "\e23b";
}
.icon-format_color_text:before {
  content: "\e23c";
}
.icon-format_indent_decrease:before {
  content: "\e23d";
}
.icon-format_indent_increase:before {
  content: "\e23e";
}
.icon-format_italic:before {
  content: "\e23f";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-format_list_numbered:before {
  content: "\e242";
}
.icon-format_paint:before {
  content: "\e243";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-format_shapes:before {
  content: "\e25e";
}
.icon-format_size:before {
  content: "\e245";
}
.icon-format_strikethrough:before {
  content: "\e246";
}
.icon-format_textdirection_l_to_r:before {
  content: "\e247";
}
.icon-format_textdirection_r_to_l:before {
  content: "\e248";
}
.icon-format_underlined:before {
  content: "\e249";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-forward1:before {
  content: "\e154";
}
.icon-forward_10:before {
  content: "\e056";
}
.icon-forward_30:before {
  content: "\e057";
}
.icon-forward_5:before {
  content: "\e058";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-functions:before {
  content: "\e24a";
}
.icon-g_translate:before {
  content: "\e9a7";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-location_searching:before {
  content: "\e1b7";
}
.icon-location_disabled:before {
  content: "\e1b6";
}
.icon-star1:before {
  content: "\e838";
}
.icon-graphic_eq:before {
  content: "\e1b8";
}
.icon-hd:before {
  content: "\e052";
}
.icon-hdr_off:before {
  content: "\e3ed";
}
.icon-hdr_on:before {
  content: "\e3ee";
}
.icon-hdr_strong:before {
  content: "\e3f1";
}
.icon-hdr_weak:before {
  content: "\e3f2";
}
.icon-headset:before {
  content: "\e310";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-restore:before {
  content: "\e8b3";
}
.icon-home4:before {
  content: "\e88a";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-http:before {
  content: "\e9ab";
}
.icon-lock2:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-import_export:before {
  content: "\e0c3";
}
.icon-inbox:before {
  content: "\e156";
}
.icon-indeterminate_check_box:before {
  content: "\e9ad";
}
.icon-info1:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-link1:before {
  content: "\e157";
}
.icon-invert_colors:before {
  content: "\e891";
}
.icon-invert_colors_off:before {
  content: "\e0c4";
}
.icon-iso:before {
  content: "\e3f6";
}
.icon-keyboard1:before {
  content: "\e312";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-keyboard_capslock:before {
  content: "\e318";
}
.icon-keyboard_hide:before {
  content: "\e31a";
}
.icon-keyboard_return:before {
  content: "\e31b";
}
.icon-keyboard_tab:before {
  content: "\e31c";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-language:before {
  content: "\e894";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-library_books:before {
  content: "\e02f";
}
.icon-library_music:before {
  content: "\e030";
}
.icon-line_style:before {
  content: "\e9af";
}
.icon-line_weight:before {
  content: "\e9b0";
}
.icon-linear_scale:before {
  content: "\e260";
}
.icon-list3:before {
  content: "\e896";
}
.icon-local_play:before {
  content: "\e553";
}
.icon-local_atm:before {
  content: "\e53e";
}
.icon-local_bar:before {
  content: "\e540";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-local_florist:before {
  content: "\e545";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_hospital:before {
  content: "\e548";
}
.icon-local_laundry_service:before {
  content: "\e54a";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-local_parking:before {
  content: "\e54f";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-location_off:before {
  content: "\e0c7";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-loupe:before {
  content: "\e402";
}
.icon-loyalty:before {
  content: "\e89a";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-map3:before {
  content: "\e55b";
}
.icon-markunread_mailbox:before {
  content: "\e89b";
}
.icon-memory:before {
  content: "\e322";
}
.icon-menu1:before {
  content: "\e5d2";
}
.icon-message:before {
  content: "\e0c9";
}
.icon-mic1:before {
  content: "\e029";
}
.icon-mic_none:before {
  content: "\e02a";
}
.icon-mic_off:before {
  content: "\e02b";
}
.icon-mms:before {
  content: "\e618";
}
.icon-mode_comment:before {
  content: "\e253";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-money_off:before {
  content: "\e25c";
}
.icon-monochrome_photos:before {
  content: "\e403";
}
.icon-mood_bad:before {
  content: "\e7f3";
}
.icon-more:before {
  content: "\e619";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-move_to_inbox:before {
  content: "\e168";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-movie_filter:before {
  content: "\e43a";
}
.icon-music_note:before {
  content: "\e405";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-network_cell:before {
  content: "\e1b9";
}
.icon-network_wifi:before {
  content: "\e1ba";
}
.icon-new_releases:before {
  content: "\e031";
}
.icon-next_week:before {
  content: "\e16a";
}
.icon-no_encryption:before {
  content: "\e641";
}
.icon-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.icon-note:before {
  content: "\e06f";
}
.icon-note_add:before {
  content: "\e89c";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-notifications_paused:before {
  content: "\e7f8";
}
.icon-offline_pin:before {
  content: "\e9b2";
}
.icon-ondemand_video:before {
  content: "\e63a";
}
.icon-opacity:before {
  content: "\e9b3";
}
.icon-open_in_browser:before {
  content: "\e89d";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-pageview:before {
  content: "\e8a0";
}
.icon-pan_tool:before {
  content: "\e9b4";
}
.icon-panorama:before {
  content: "\e40b";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-panorama_horizontal:before {
  content: "\e40d";
}
.icon-panorama_vertical:before {
  content: "\e40e";
}
.icon-panorama_wide_angle:before {
  content: "\e40f";
}
.icon-party_mode:before {
  content: "\e7fa";
}
.icon-pause1:before {
  content: "\e034";
}
.icon-pause_circle_filled:before {
  content: "\e035";
}
.icon-pause_circle_outline:before {
  content: "\e036";
}
.icon-perm_camera_mic:before {
  content: "\e8a2";
}
.icon-perm_contact_calendar:before {
  content: "\e8a3";
}
.icon-perm_data_setting:before {
  content: "\e8a4";
}
.icon-perm_device_information:before {
  content: "\e8a5";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-perm_media:before {
  content: "\e8a7";
}
.icon-perm_phone_msg:before {
  content: "\e8a8";
}
.icon-perm_scan_wifi:before {
  content: "\e8a9";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-person_pin:before {
  content: "\e55a";
}
.icon-person_pin_circle:before {
  content: "\e56a";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-pets:before {
  content: "\e9b5";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-phone_bluetooth_speaker:before {
  content: "\e61b";
}
.icon-phone_forwarded:before {
  content: "\e61c";
}
.icon-phone_in_talk:before {
  content: "\e61d";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-phone_locked:before {
  content: "\e61e";
}
.icon-phone_missed:before {
  content: "\e61f";
}
.icon-phone_paused:before {
  content: "\e620";
}
.icon-phonelink_erase:before {
  content: "\e0db";
}
.icon-phonelink_lock:before {
  content: "\e0dc";
}
.icon-phonelink_ring:before {
  content: "\e0dd";
}
.icon-phonelink_setup:before {
  content: "\e0de";
}
.icon-photo_album:before {
  content: "\e411";
}
.icon-photo_filter:before {
  content: "\e43b";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-photo_size_select_small:before {
  content: "\e434";
}
.icon-picture_in_picture:before {
  content: "\e8aa";
}
.icon-picture_in_picture_alt:before {
  content: "\e9b6";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-playlist_add:before {
  content: "\e03b";
}
.icon-playlist_add_check:before {
  content: "\e065";
}
.icon-playlist_play:before {
  content: "\e05f";
}
.icon-portrait:before {
  content: "\e416";
}
.icon-power1:before {
  content: "\e63c";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-present_to_all:before {
  content: "\e0df";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-publish:before {
  content: "\e255";
}
.icon-queue_music:before {
  content: "\e03d";
}
.icon-queue_play_next:before {
  content: "\e066";
}
.icon-radio:before {
  content: "\e03e";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-rate_review:before {
  content: "\e560";
}
.icon-receipt:before {
  content: "\e8b0";
}
.icon-record_voice_over:before {
  content: "\e9b9";
}
.icon-redo1:before {
  content: "\e15a";
}
.icon-refresh1:before {
  content: "\e5d5";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-remove_from_queue:before {
  content: "\e067";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-remove_shopping_cart:before {
  content: "\e9ba";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-replay:before {
  content: "\e042";
}
.icon-replay_10:before {
  content: "\e059";
}
.icon-replay_30:before {
  content: "\e05a";
}
.icon-replay_5:before {
  content: "\e05b";
}
.icon-reply1:before {
  content: "\e15e";
}
.icon-reply_all:before {
  content: "\e15f";
}
.icon-report:before {
  content: "\e160";
}
.icon-warning1:before {
  content: "\e002";
}
.icon-restore_page:before {
  content: "\e9bb";
}
.icon-ring_volume:before {
  content: "\e0d1";
}
.icon-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-rotate_right:before {
  content: "\e41a";
}
.icon-router:before {
  content: "\e328";
}
.icon-rss_feed:before {
  content: "\e0e5";
}
.icon-satellite:before {
  content: "\e562";
}
.icon-save:before {
  content: "\e161";
}
.icon-scanner:before {
  content: "\e329";
}
.icon-school:before {
  content: "\e80c";
}
.icon-screen_lock_landscape:before {
  content: "\e1be";
}
.icon-screen_lock_portrait:before {
  content: "\e1bf";
}
.icon-screen_lock_rotation:before {
  content: "\e1c0";
}
.icon-screen_rotation:before {
  content: "\e1c1";
}
.icon-screen_share:before {
  content: "\e0e2";
}
.icon-sd_storage:before {
  content: "\e1c2";
}
.icon-security:before {
  content: "\e32a";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-settings1:before {
  content: "\e8b8";
}
.icon-settings_applications:before {
  content: "\e8b9";
}
.icon-settings_backup_restore:before {
  content: "\e8ba";
}
.icon-settings_bluetooth:before {
  content: "\e8bb";
}
.icon-settings_brightness:before {
  content: "\e8bd";
}
.icon-settings_cell:before {
  content: "\e8bc";
}
.icon-settings_input_hdmi:before {
  content: "\e8c2";
}
.icon-settings_input_svideo:before {
  content: "\e8c3";
}
.icon-settings_power:before {
  content: "\e8c6";
}
.icon-settings_voice:before {
  content: "\e8c8";
}
.icon-shop:before {
  content: "\e8c9";
}
.icon-sim_card_alert:before {
  content: "\e624";
}
.icon-skip_next:before {
  content: "\e044";
}
.icon-skip_previous:before {
  content: "\e045";
}
.icon-textsms:before {
  content: "\e0d8";
}
.icon-sort:before {
  content: "\e164";
}
.icon-sort_by_alpha:before {
  content: "\e053";
}
.icon-speaker:before {
  content: "\e32d";
}
.icon-speaker_notes:before {
  content: "\e8cd";
}
.icon-speaker_notes_off:before {
  content: "\e9be";
}
.icon-speaker_phone:before {
  content: "\e0d2";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-stars:before {
  content: "\e8d0";
}
.icon-stop_screen_share:before {
  content: "\e0e3";
}
.icon-storage:before {
  content: "\e1db";
}
.icon-style:before {
  content: "\e41d";
}
.icon-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.icon-subdirectory_arrow_right:before {
  content: "\e5da";
}
.icon-subject:before {
  content: "\e8d2";
}
.icon-subscriptions:before {
  content: "\e064";
}
.icon-subtitles:before {
  content: "\e048";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
.icon-switch_camera:before {
  content: "\e41e";
}
.icon-switch_video:before {
  content: "\e41f";
}
.icon-system_update:before {
  content: "\e62a";
}
.icon-system_update_alt:before {
  content: "\e8d7";
}
.icon-tab1:before {
  content: "\e8d8";
}
.icon-tablet2:before {
  content: "\e32f";
}
.icon-tablet_android:before {
  content: "\e330";
}
.icon-text_fields:before {
  content: "\e262";
}
.icon-text_format:before {
  content: "\e165";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-thumbs_up_down:before {
  content: "\e8dd";
}
.icon-timelapse:before {
  content: "\e422";
}
.icon-timeline:before {
  content: "\e9bf";
}
.icon-timer:before {
  content: "\e425";
}
.icon-timer_10:before {
  content: "\e423";
}
.icon-timer_3:before {
  content: "\e424";
}
.icon-timer_off:before {
  content: "\e426";
}
.icon-title:before {
  content: "\e264";
}
.icon-toc:before {
  content: "\e8de";
}
.icon-today:before {
  content: "\e8df";
}
.icon-touch_app:before {
  content: "\e9c0";
}
.icon-transform:before {
  content: "\e428";
}
.icon-translate:before {
  content: "\e8e2";
}
.icon-trending_flat:before {
  content: "\e8e4";
}
.icon-tune:before {
  content: "\e429";
}
.icon-tv1:before {
  content: "\e333";
}
.icon-unarchive:before {
  content: "\e169";
}
.icon-undo1:before {
  content: "\e166";
}
.icon-update:before {
  content: "\e9c1";
}
.icon-usb:before {
  content: "\e1e0";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-videocam:before {
  content: "\e04b";
}
.icon-videocam_off:before {
  content: "\e04c";
}
.icon-videogame_asset:before {
  content: "\e338";
}
.icon-view_agenda:before {
  content: "\e8e9";
}
.icon-view_array:before {
  content: "\e8ea";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-view_column:before {
  content: "\e8ec";
}
.icon-view_comfy:before {
  content: "\e42a";
}
.icon-view_compact:before {
  content: "\e42b";
}
.icon-view_day:before {
  content: "\e8ed";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-view_quilt:before {
  content: "\e8f1";
}
.icon-view_stream:before {
  content: "\e8f2";
}
.icon-view_week:before {
  content: "\e8f3";
}
.icon-visibility_off:before {
  content: "\e8f5";
}
.icon-volume_down:before {
  content: "\e04d";
}
.icon-volume_mute:before {
  content: "\e04e";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-vpn_lock:before {
  content: "\e62f";
}
.icon-wallpaper:before {
  content: "\e1bc";
}
.icon-watch:before {
  content: "\e334";
}
.icon-watch_later:before {
  content: "\e9c2";
}
.icon-wb_sunny:before {
  content: "\e430";
}
.icon-wc:before {
  content: "\e63d";
}
.icon-web:before {
  content: "\e051";
}
.icon-web_asset:before {
  content: "\e069";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-widgets:before {
  content: "\e1bd";
}
.icon-work:before {
  content: "\e8f9";
}
.icon-youtube_searched_for:before {
  content: "\e8fa";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e9c3";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-add-to-list:before {
  content: "\e9c4";
}
.icon-controller-fast-backward:before {
  content: "\e9c6";
}
.icon-creative-commons-attribution:before {
  content: "\e9c7";
}
.icon-creative-commons-noderivs:before {
  content: "\e9c8";
}
.icon-creative-commons-noncommercial-eu:before {
  content: "\e9c9";
}
.icon-creative-commons-noncommercial-us:before {
  content: "\e9ca";
}
.icon-creative-commons-public-domain:before {
  content: "\e9cb";
}
.icon-creative-commons-share:before {
  content: "\e9cd";
}
.icon-creative-commons:before {
  content: "\e9cf";
}
.icon-warning2:before {
  content: "\e9d2";
}
.icon-arrow-bold-down:before {
  content: "\e9d3";
}
.icon-arrow-bold-left:before {
  content: "\e9d4";
}
.icon-arrow-bold-right:before {
  content: "\e9d5";
}
.icon-arrow-bold-up:before {
  content: "\e9d6";
}
.icon-arrow-down3:before {
  content: "\e9d7";
}
.icon-arrow-left3:before {
  content: "\e9d8";
}
.icon-arrow-long-down:before {
  content: "\e9d9";
}
.icon-arrow-long-left:before {
  content: "\e9da";
}
.icon-arrow-long-right:before {
  content: "\e9db";
}
.icon-arrow-long-up:before {
  content: "\e9dc";
}
.icon-arrow-right3:before {
  content: "\e9dd";
}
.icon-arrow-up3:before {
  content: "\e9de";
}
.icon-arrow-with-circle-down:before {
  content: "\e9df";
}
.icon-arrow-with-circle-left:before {
  content: "\e9e0";
}
.icon-arrow-with-circle-right:before {
  content: "\e9e1";
}
.icon-arrow-with-circle-up:before {
  content: "\e9e2";
}
.icon-bookmark2:before {
  content: "\e9e3";
}
.icon-chevron-down:before {
  content: "\e9e5";
}
.icon-chevron-left:before {
  content: "\e9e6";
}
.icon-chevron-right:before {
  content: "\e9e7";
}
.icon-chevron-small-down:before {
  content: "\e9e8";
}
.icon-chevron-small-left:before {
  content: "\e9e9";
}
.icon-chevron-small-right:before {
  content: "\e9ea";
}
.icon-chevron-small-up:before {
  content: "\e9eb";
}
.icon-chevron-up:before {
  content: "\e9f0";
}
.icon-controller-fast-forward:before {
  content: "\e9f6";
}
.icon-controller-jump-to-start:before {
  content: "\e9f7";
}
.icon-controller-next:before {
  content: "\e9f8";
}
.icon-controller-paus:before {
  content: "\e9f9";
}
.icon-controller-play:before {
  content: "\e9fa";
}
.icon-controller-record:before {
  content: "\e9fb";
}
.icon-controller-stop:before {
  content: "\e9fc";
}
.icon-controller-volume:before {
  content: "\e9fd";
}
.icon-dot-single:before {
  content: "\e9fe";
}
.icon-dots-three-horizontal:before {
  content: "\e9ff";
}
.icon-dots-three-vertical:before {
  content: "\ea00";
}
.icon-dots-two-horizontal:before {
  content: "\ea01";
}
.icon-dots-two-vertical:before {
  content: "\ea02";
}
.icon-download4:before {
  content: "\ea03";
}
.icon-flow-line:before {
  content: "\ea07";
}
.icon-flow-parallel:before {
  content: "\ea08";
}
.icon-flow-tree:before {
  content: "\ea09";
}
.icon-install:before {
  content: "\ea0a";
}
.icon-resize-100:before {
  content: "\ea0d";
}
.icon-resize-full-screen:before {
  content: "\ea0e";
}
.icon-save1:before {
  content: "\ea0f";
}
.icon-sound-mute:before {
  content: "\ea11";
}
.icon-sound:before {
  content: "\ea12";
}
.icon-triangle-down:before {
  content: "\ea14";
}
.icon-triangle-left:before {
  content: "\ea15";
}
.icon-triangle-right:before {
  content: "\ea16";
}
.icon-triangle-up:before {
  content: "\ea17";
}
.icon-uninstall:before {
  content: "\ea18";
}
.icon-upload-to-cloud:before {
  content: "\ea19";
}
.icon-upload1:before {
  content: "\ea1a";
}
.icon-add-user:before {
  content: "\ea1b";
}
.icon-address:before {
  content: "\ea1c";
}
.icon-adjust1:before {
  content: "\ea1d";
}
.icon-archive2:before {
  content: "\ea28";
}
.icon-awareness-ribbon:before {
  content: "\ea2b";
}
.icon-back-in-time:before {
  content: "\ea2c";
}
.icon-bar-graph:before {
  content: "\ea2e";
}
.icon-book3:before {
  content: "\ea34";
}
.icon-briefcase1:before {
  content: "\ea37";
}
.icon-browser1:before {
  content: "\ea38";
}
.icon-brush1:before {
  content: "\ea39";
}
.icon-calculator2:before {
  content: "\ea3c";
}
.icon-calendar2:before {
  content: "\ea3d";
}
.icon-camera3:before {
  content: "\ea3e";
}
.icon-circle-with-cross:before {
  content: "\ea42";
}
.icon-circle-with-minus:before {
  content: "\ea43";
}
.icon-circle-with-plus:before {
  content: "\ea44";
}
.icon-clock3:before {
  content: "\ea49";
}
.icon-code1:before {
  content: "\ea4a";
}
.icon-cog1:before {
  content: "\ea4b";
}
.icon-colours:before {
  content: "\ea4c";
}
.icon-compass1:before {
  content: "\ea4d";
}
.icon-credit-card1:before {
  content: "\ea4f";
}
.icon-credit:before {
  content: "\ea50";
}
.icon-cross1:before {
  content: "\ea51";
}
.icon-cw:before {
  content: "\ea53";
}
.icon-database1:before {
  content: "\ea55";
}
.icon-dial-pad:before {
  content: "\ea56";
}
.icon-drink1:before {
  content: "\ea5a";
}
.icon-drive1:before {
  content: "\ea5b";
}
.icon-edit:before {
  content: "\ea5d";
}
.icon-email2:before {
  content: "\ea5e";
}
.icon-emoji-happy:before {
  content: "\ea5f";
}
.icon-emoji-neutral:before {
  content: "\ea60";
}
.icon-emoji-sad:before {
  content: "\ea61";
}
.icon-erase:before {
  content: "\ea62";
}
.icon-eraser:before {
  content: "\ea63";
}
.icon-export:before {
  content: "\ea64";
}
.icon-eye1:before {
  content: "\ea65";
}
.icon-flash:before {
  content: "\ea68";
}
.icon-flashlight:before {
  content: "\ea69";
}
.icon-folder-images:before {
  content: "\ea6b";
}
.icon-folder-music:before {
  content: "\ea6c";
}
.icon-folder-video:before {
  content: "\ea6d";
}
.icon-folder3:before {
  content: "\ea6e";
}
.icon-forward4:before {
  content: "\ea6f";
}
.icon-funnel:before {
  content: "\ea70";
}
.icon-game-controller:before {
  content: "\ea71";
}
.icon-grid1:before {
  content: "\ea75";
}
.icon-hair-cross:before {
  content: "\ea76";
}
.icon-heart-outlined:before {
  content: "\ea78";
}
.icon-heart2:before {
  content: "\ea79";
}
.icon-help-with-circle:before {
  content: "\ea7a";
}
.icon-help1:before {
  content: "\ea7b";
}
.icon-home5:before {
  content: "\ea7c";
}
.icon-image-inverted:before {
  content: "\ea7e";
}
.icon-image2:before {
  content: "\ea7f";
}
.icon-images1:before {
  content: "\ea80";
}
.icon-inbox1:before {
  content: "\ea81";
}
.icon-infinity:before {
  content: "\ea82";
}
.icon-info-with-circle:before {
  content: "\ea83";
}
.icon-info2:before {
  content: "\ea84";
}
.icon-key1:before {
  content: "\ea85";
}
.icon-keyboard2:before {
  content: "\ea86";
}
.icon-lab-flask:before {
  content: "\ea87";
}
.icon-landline:before {
  content: "\ea88";
}
.icon-laptop3:before {
  content: "\ea8a";
}
.icon-leaf1:before {
  content: "\ea8b";
}
.icon-level-down:before {
  content: "\ea8c";
}
.icon-level-up:before {
  content: "\ea8d";
}
.icon-lifebuoy1:before {
  content: "\ea8e";
}
.icon-light-down:before {
  content: "\ea90";
}
.icon-light-up:before {
  content: "\ea91";
}
.icon-link2:before {
  content: "\ea93";
}
.icon-list4:before {
  content: "\ea94";
}
.icon-location1:before {
  content: "\ea96";
}
.icon-lock-open:before {
  content: "\ea97";
}
.icon-lock3:before {
  content: "\ea98";
}
.icon-log-out:before {
  content: "\ea99";
}
.icon-login:before {
  content: "\ea9a";
}
.icon-magnet1:before {
  content: "\ea9c";
}
.icon-magnifying-glass:before {
  content: "\ea9d";
}
.icon-man1:before {
  content: "\ea9f";
}
.icon-megaphone:before {
  content: "\eaa3";
}
.icon-menu5:before {
  content: "\eaa4";
}
.icon-message1:before {
  content: "\eaa5";
}
.icon-music1:before {
  content: "\eaac";
}
.icon-network:before {
  content: "\eaad";
}
.icon-new-message:before {
  content: "\eaae";
}
.icon-news:before {
  content: "\eab0";
}
.icon-pencil3:before {
  content: "\eab7";
}
.icon-pie-chart1:before {
  content: "\eab9";
}
.icon-pin:before {
  content: "\eaba";
}
.icon-plus1:before {
  content: "\eabb";
}
.icon-price-ribbon:before {
  content: "\eabe";
}
.icon-print1:before {
  content: "\eac0";
}
.icon-progress-full:before {
  content: "\eac2";
}
.icon-progress-one:before {
  content: "\eac3";
}
.icon-progress-two:before {
  content: "\eac4";
}
.icon-publish1:before {
  content: "\eac5";
}
.icon-reply2:before {
  content: "\eac9";
}
.icon-rocket1:before {
  content: "\eacb";
}
.icon-ruler:before {
  content: "\eace";
}
.icon-scissors1:before {
  content: "\eacf";
}
.icon-share4:before {
  content: "\ead1";
}
.icon-shield1:before {
  content: "\ead3";
}
.icon-shop1:before {
  content: "\ead4";
}
.icon-sound-mix:before {
  content: "\eada";
}
.icon-squared-cross:before {
  content: "\eadd";
}
.icon-squared-minus:before {
  content: "\eade";
}
.icon-squared-plus:before {
  content: "\eadf";
}
.icon-suitcase:before {
  content: "\eae3";
}
.icon-switch2:before {
  content: "\eae6";
}
.icon-traffic-cone:before {
  content: "\eaf3";
}
.icon-v-card:before {
  content: "\eafc";
}
.icon-video:before {
  content: "\eafd";
}
.icon-wallet:before {
  content: "\eb00";
}
.icon-500px-with-circle:before {
  content: "\eb02";
}
.icon-500px1:before {
  content: "\eb03";
}
.icon-basecamp1:before {
  content: "\eb04";
}
.icon-behance1:before {
  content: "\eb05";
}
.icon-creative-cloud:before {
  content: "\eb06";
}
.icon-dropbox1:before {
  content: "\eb07";
}
.icon-evernote:before {
  content: "\eb08";
}
.icon-flattr1:before {
  content: "\eb09";
}
.icon-foursquare1:before {
  content: "\eb0a";
}
.icon-google-drive1:before {
  content: "\eb0b";
}
.icon-google-hangouts:before {
  content: "\eb0c";
}
.icon-grooveshark:before {
  content: "\eb0d";
}
.icon-icloud:before {
  content: "\eb0e";
}
.icon-onedrive1:before {
  content: "\eb10";
}
.icon-paypal1:before {
  content: "\eb11";
}
.icon-picasa:before {
  content: "\eb12";
}
.icon-qq:before {
  content: "\eb13";
}
.icon-rdio-with-circle:before {
  content: "\eb14";
}
.icon-renren1:before {
  content: "\eb15";
}
.icon-scribd:before {
  content: "\eb16";
}
.icon-sina-weibo1:before {
  content: "\eb17";
}
.icon-skype-with-circle:before {
  content: "\eb18";
}
.icon-skype1:before {
  content: "\eb19";
}
.icon-soundcloud1:before {
  content: "\eb1c";
}
.icon-spotify-with-circle:before {
  content: "\eb1d";
}
.icon-swarm:before {
  content: "\eb1f";
}
.icon-vine1:before {
  content: "\eb21";
}
.icon-dribbble1:before {
  content: "\eb29";
}
.icon-facebook1:before {
  content: "\eb2b";
}
.icon-flickr-with-circle:before {
  content: "\eb2c";
}
.icon-flickr1:before {
  content: "\eb2d";
}
.icon-github1:before {
  content: "\eb2f";
}
.icon-lastfm-with-circle:before {
  content: "\eb34";
}
.icon-lastfm1:before {
  content: "\eb35";
}
.icon-linkedin-with-circle:before {
  content: "\eb36";
}
.icon-linkedin1:before {
  content: "\eb37";
}
.icon-pinterest1:before {
  content: "\eb39";
}
.icon-tumblr1:before {
  content: "\eb50";
}
.icon-vimeo-with-circle:before {
  content: "\eb53";
}
.icon-vimeo1:before {
  content: "\eb54";
}
.icon-add-outline:before {
  content: "\eb57";
}
.icon-add-solid:before {
  content: "\eb58";
}
.icon-adjust2:before {
  content: "\eb59";
}
.icon-announcement1:before {
  content: "\eb61";
}
.icon-arrow-right4:before {
  content: "\eb69";
}
.icon-arrow-thin-down:before {
  content: "\eb6e";
}
.icon-bluetooth1:before {
  content: "\eb7f";
}
.icon-book-reference:before {
  content: "\eb81";
}
.icon-bookmark3:before {
  content: "\eb82";
}
.icon-camera4:before {
  content: "\eb9b";
}
.icon-chart1:before {
  content: "\eb9c";
}
.icon-cheveron-outline-down:before {
  content: "\eba4";
}
.icon-cheveron-outline-left:before {
  content: "\eba5";
}
.icon-cheveron-outline-right:before {
  content: "\eba6";
}
.icon-cheveron-outline-up:before {
  content: "\eba7";
}
.icon-color-palette:before {
  content: "\ebb3";
}
.icon-credit-card2:before {
  content: "\ebb9";
}
.icon-currency-dollar:before {
  content: "\ebba";
}
.icon-edit-pencil:before {
  content: "\ebc8";
}
.icon-gift1:before {
  content: "\ebdf";
}
.icon-key3:before {
  content: "\ebf0";
}
.icon-keyboard3:before {
  content: "\ebf1";
}
.icon-library1:before {
  content: "\ebf3";
}
.icon-location-park:before {
  content: "\ec00";
}
.icon-lock-closed:before {
  content: "\ec03";
}
.icon-lock-open1:before {
  content: "\ec04";
}
.icon-mic3:before {
  content: "\ec07";
}
.icon-network1:before {
  content: "\ec17";
}
.icon-news-paper:before {
  content: "\ec18";
}
.icon-phone4:before {
  content: "\ec21";
}
.icon-photo1:before {
  content: "\ec22";
}
.icon-pin1:before {
  content: "\ec24";
}
.icon-play1:before {
  content: "\ec25";
}
.icon-save-disk:before {
  content: "\ec36";
}
.icon-send1:before {
  content: "\ec39";
}
.icon-servers:before {
  content: "\ec3a";
}
.icon-star-full1:before {
  content: "\ec43";
}
.icon-text-decoration:before {
  content: "\ec51";
}
.icon-thermometer1:before {
  content: "\ec52";
}
.icon-tuning:before {
  content: "\ec63";
}
.icon-user4:before {
  content: "\ec66";
}
.icon-user-solid-square:before {
  content: "\ec6a";
}
.icon-vector:before {
  content: "\ec6b";
}
.icon-view-list:before {
  content: "\ec70";
}
.icon-view-show:before {
  content: "\ec71";
}
.icon-view-tile:before {
  content: "\ec72";
}
.icon-volume-down:before {
  content: "\ec73";
}
.icon-volume-mute1:before {
  content: "\ec74";
}
.icon-volume-off:before {
  content: "\ec75";
}
.icon-volume-up:before {
  content: "\ec76";
}
.icon-zoom-in1:before {
  content: "\ec7e";
}
.icon-zoom-out1:before {
  content: "\ec7f";
}
.icon-newspaper:before {
  content: "\ec84";
}
.icon-pencil:before {
  content: "\ec85";
}
.icon-quill:before {
  content: "\ec87";
}
.icon-image:before {
  content: "\ec8d";
}
.icon-camera:before {
  content: "\ec8f";
}
.icon-spades:before {
  content: "\ec97";
}
.icon-clubs:before {
  content: "\ec98";
}
.icon-diamonds:before {
  content: "\ec99";
}
.icon-book:before {
  content: "\ec9f";
}
.icon-file-text:before {
  content: "\eca2";
}
.icon-file-picture:before {
  content: "\eca7";
}
.icon-file-music:before {
  content: "\eca8";
}
.icon-file-play:before {
  content: "\eca9";
}
.icon-file-zip:before {
  content: "\ecab";
}
.icon-qrcode:before {
  content: "\ecb8";
}
.icon-ticket:before {
  content: "\ecb9";
}
.icon-credit-card:before {
  content: "\ecbf";
}
.icon-calculator:before {
  content: "\ecc0";
}
.icon-lifebuoy:before {
  content: "\ecc1";
}
.icon-phone:before {
  content: "\ecc2";
}
.icon-phone-hang-up:before {
  content: "\ecc3";
}
.icon-pushpin:before {
  content: "\ecc6";
}
.icon-clock:before {
  content: "\ecce";
}
.icon-clock2:before {
  content: "\eccf";
}
.icon-printer:before {
  content: "\ecd4";
}
.icon-mobile2:before {
  content: "\ecd9";
}
.icon-tablet:before {
  content: "\ecda";
}
.icon-box-add:before {
  content: "\ecde";
}
.icon-box-remove:before {
  content: "\ecdf";
}
.icon-download:before {
  content: "\ece0";
}
.icon-upload:before {
  content: "\ece1";
}
.icon-database:before {
  content: "\ece4";
}
.icon-user-plus:before {
  content: "\ecf3";
}
.icon-user-minus:before {
  content: "\ecf4";
}
.icon-search:before {
  content: "\ed06";
}
.icon-zoom-in:before {
  content: "\ed07";
}
.icon-zoom-out:before {
  content: "\ed08";
}
.icon-key:before {
  content: "\ed0d";
}
.icon-lock:before {
  content: "\ed0f";
}
.icon-unlocked:before {
  content: "\ed10";
}
.icon-wrench:before {
  content: "\ed11";
}
.icon-equalizer:before {
  content: "\ed12";
}
.icon-equalizer2:before {
  content: "\ed13";
}
.icon-cog:before {
  content: "\ed14";
}
.icon-aid-kit:before {
  content: "\ed18";
}
.icon-pie-chart:before {
  content: "\ed1a";
}
.icon-stats-bars:before {
  content: "\ed1c";
}
.icon-trophy:before {
  content: "\ed1e";
}
.icon-gift:before {
  content: "\ed1f";
}
.icon-leaf:before {
  content: "\ed24";
}
.icon-rocket:before {
  content: "\ed25";
}
.icon-meter:before {
  content: "\ed26";
}
.icon-meter2:before {
  content: "\ed27";
}
.icon-hammer2:before {
  content: "\ed28";
}
.icon-lab:before {
  content: "\ed2a";
}
.icon-bin:before {
  content: "\ed2c";
}
.icon-switch:before {
  content: "\ed36";
}
.icon-menu:before {
  content: "\ed3d";
}
.icon-menu2:before {
  content: "\ed3e";
}
.icon-menu3:before {
  content: "\ed3f";
}
.icon-menu4:before {
  content: "\ed40";
}
.icon-download3:before {
  content: "\ed47";
}
.icon-upload3:before {
  content: "\ed48";
}
.icon-link:before {
  content: "\ed4b";
}
.icon-attachment:before {
  content: "\ed4d";
}
.icon-eye:before {
  content: "\ed4e";
}
.icon-eye-plus:before {
  content: "\ed4f";
}
.icon-eye-minus:before {
  content: "\ed50";
}
.icon-eye-blocked:before {
  content: "\ed51";
}
.icon-bookmark:before {
  content: "\ed52";
}
.icon-star-empty:before {
  content: "\ed57";
}
.icon-star-half:before {
  content: "\ed58";
}
.icon-star-full:before {
  content: "\ed59";
}
.icon-plus:before {
  content: "\ed8a";
}
.icon-minus:before {
  content: "\ed8b";
}
.icon-info:before {
  content: "\ed8c";
}
.icon-cancel-circle:before {
  content: "\ed8d";
}
.icon-blocked:before {
  content: "\ed8e";
}
.icon-cross:before {
  content: "\ed8f";
}
.icon-checkmark:before {
  content: "\ed90";
}
.icon-checkmark2:before {
  content: "\ed91";
}
.icon-play2:before {
  content: "\ed95";
}
.icon-pause:before {
  content: "\ed96";
}
.icon-stop:before {
  content: "\ed97";
}
.icon-previous:before {
  content: "\ed98";
}
.icon-next:before {
  content: "\ed99";
}
.icon-backward:before {
  content: "\ed9a";
}
.icon-forward2:before {
  content: "\ed9b";
}
.icon-play3:before {
  content: "\ed9c";
}
.icon-pause2:before {
  content: "\ed9d";
}
.icon-stop2:before {
  content: "\ed9e";
}
.icon-volume-high:before {
  content: "\eda6";
}
.icon-volume-medium:before {
  content: "\eda7";
}
.icon-volume-low:before {
  content: "\eda8";
}
.icon-volume-mute:before {
  content: "\eda9";
}
.icon-volume-mute2:before {
  content: "\edaa";
}
.icon-volume-increase:before {
  content: "\edab";
}
.icon-volume-decrease:before {
  content: "\edac";
}
.icon-loop:before {
  content: "\edad";
}
.icon-loop2:before {
  content: "\edae";
}
.icon-infinite:before {
  content: "\edaf";
}
.icon-shuffle:before {
  content: "\edb0";
}
.icon-checkbox-checked:before {
  content: "\edd2";
}
.icon-checkbox-unchecked:before {
  content: "\edd3";
}
.icon-radio-checked:before {
  content: "\edd4";
}
.icon-radio-checked2:before {
  content: "\edd5";
}
.icon-radio-unchecked:before {
  content: "\edd6";
}
.icon-crop:before {
  content: "\edd7";
}
.icon-make-group:before {
  content: "\edd8";
}
.icon-text-width:before {
  content: "\ede0";
}
.icon-font-size:before {
  content: "\ede1";
}
.icon-bold:before {
  content: "\ede2";
}
.icon-underline:before {
  content: "\ede3";
}
.icon-italic:before {
  content: "\ede4";
}
.icon-embed2:before {
  content: "\ee00";
}
.icon-terminal:before {
  content: "\ee01";
}
.icon-amazon:before {
  content: "\ee07";
}
.icon-google:before {
  content: "\ee08";
}
.icon-google2:before {
  content: "\ee09";
}
.icon-google3:before {
  content: "\ee0a";
}
.icon-google-plus:before {
  content: "\ee0b";
}
.icon-hangouts:before {
  content: "\ee0e";
}
.icon-google-drive:before {
  content: "\ee0f";
}
.icon-facebook:before {
  content: "\ee10";
}
.icon-whatsapp:before {
  content: "\ee13";
}
.icon-spotify:before {
  content: "\ee14";
}
.icon-telegram:before {
  content: "\ee15";
}
.icon-vine:before {
  content: "\ee17";
}
.icon-youtube:before {
  content: "\ee1d";
}
.icon-twitch:before {
  content: "\ee1f";
}
.icon-lanyrd:before {
  content: "\ee22";
}
.icon-flickr:before {
  content: "\ee23";
}
.icon-flickr2:before {
  content: "\ee24";
}
.icon-flickr3:before {
  content: "\ee25";
}
.icon-flickr4:before {
  content: "\ee26";
}
.icon-dribbble:before {
  content: "\ee27";
}
.icon-behance:before {
  content: "\ee28";
}
.icon-behance2:before {
  content: "\ee29";
}
.icon-deviantart:before {
  content: "\ee2a";
}
.icon-dropbox:before {
  content: "\ee2e";
}
.icon-github:before {
  content: "\ee30";
}
.icon-trello:before {
  content: "\ee33";
}
.icon-wordpress:before {
  content: "\ee34";
}
.icon-blogger2:before {
  content: "\ee38";
}
.icon-appleinc:before {
  content: "\ee3e";
}
.icon-android:before {
  content: "\ee40";
}
.icon-windows8:before {
  content: "\ee42";
}
.icon-soundcloud:before {
  content: "\ee43";
}
.icon-soundcloud2:before {
  content: "\ee44";
}
.icon-linkedin:before {
  content: "\ee49";
}
.icon-linkedin2:before {
  content: "\ee4a";
}
.icon-paypal:before {
  content: "\ee58";
}
.icon-chrome:before {
  content: "\ee59";
}
.icon-firefox:before {
  content: "\ee5a";
}
.icon-opera:before {
  content: "\ee5e";
}
.icon-file-pdf:before {
  content: "\ee5f";
}
.icon-file-openoffice:before {
  content: "\ee60";
}
.icon-file-word:before {
  content: "\ee61";
}
.icon-file-excel:before {
  content: "\ee62";
}
.icon-html-five:before {
  content: "\ee64";
}
.icon-html-five2:before {
  content: "\ee65";
}
.icon-css3:before {
  content: "\ee66";
}
.icon-git:before {
  content: "\ee67";
}
.icon-svg:before {
  content: "\ee69";
}
