/*----------------------------- CONTACTO------------------------------------------------*/


a.este-link:link 
{ 
text-decoration:none; 
} 
a.este-link {                 /* color olvidar contraseña */
  color: #ff00b4;
  transition: .5s ease;
}
a.este-link:hover {          /* hover de olvidar contraseña */
  color: #8400ff;  
}

.contenedor-formularios-dos {
  background: rgba(19, 35, 47, 1);
  padding: 30px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;/*Placeholder de la casilla*/
}
label.req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 11px;/*cuando el nombre pasa abajo de la casilla*/
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #fff;
}

div .contac-cubi-dos input {
  font-size: 16px;/*Cuando se escribe dentro de la casilla*/
  display: block;
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}
div .contac-cubi-dos input:focus{
  outline: none;
  border-color: #8400ff;
}

div .contac-cubi-dos textarea {
  font-size: 16px;/*Cuando se escribe dentro de la casilla*/
  display: block;
  width: 100%;
  height: 110px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}
div .contac-cubi-dos textarea:focus{
  outline: none;
  border-color: #8400ff;
}

.contenedor-input-dos {
  position: relative;
  margin-bottom: 30px;
}

.button-dos {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 0px 20px 0px;
  font-size: 1.7rem;
  background: #8400ff;
  color: #fff;
  transition: all .5s ease;
  -webkit-appearance: none;
}
.button-dos:hover, .button-dos:focus {
  background: #00d8ff;
}

.button-block-dos {
  display: block;
  width: 100%;
  height: 68px;
}

.fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}
.fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.fila-arriba div:last-child {
  margin: 0;
}
@media screen and (max-width: 500px) {
  .fila-arriba div {
    width: 100%;
  }
  .fila-arriba div:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
}
